.movies-search, .movies-order {
  width: 100%;
}

.movies-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .movies-search, .movies-order {
    width: 420px;
  }

  .movies-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    justify-content: center;
  }
}