<main class="flex flex-column items-center pa3">
  <mat-form-field appearance="outline" color="accent" class="movies-search">
    <mat-label> Search movies </mat-label>
    <input matInput type="text" [formControl]="search">
    <button mat-button *ngIf="search.value" matSuffix mat-icon-button (click)="search.setValue('')">
      <mat-icon> close </mat-icon>
    </button>
  </mat-form-field>
  <section class="movies-container">
    <ng-container *ngFor="let movie of state.movies$ | async">
      <movies-summary [movie]="movie"></movies-summary>
    </ng-container>
  </section>
</main>