<main class="shell-container">
  <mat-toolbar color="primary" class="shell-topbar">
    <button mat-icon-button (click)="matSidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <h1> Movies </h1>
  </mat-toolbar>

  <mat-sidenav-container class="shell-content">
    <mat-sidenav #matSidenav class="shell-sidenav">
      <aside class="pa3">
        <h3 class="flex">
          <mat-icon class="mr2"> person </mat-icon>
          Lucas Viana
        </h3>
        <a mat-button href="https://github.com/lcasviana" target="_blank"> GitHub </a>
      </aside>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>